html.full,
html.full body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
}

a:hover {
  font-weight: bold;
}

.App {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  width: 100%;

  .app-header{
    position: fixed;
    display: flex;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    min-height: 2.5rem;
    background-color: #222021;

    .logo {
      position: relative;
      left: 15rem;
      .img {
        width: 5rem;
        height: 2.5rem;
      }
    }

    .menu-wrap {
      position: relative;
      left: 35rem;
      padding: 0;
      margin: 0;
      .menu {
        list-style-type: none;
        display: flex;

        li {
          font-size: 0.8rem;
          .each {
            color: white;
            text-decoration: none;
            padding-left: 5rem;
          }
        }
      }
    }
  }

  .scene {
    position: relative;
    width: 60rem;
    height: 50rem;

    .icons {
      position: relative;
      display: flex;
      justify-content: center;
      z-index: 100;
      bottom: 39rem;
      color: white;
      margin-top: 0.4em;
      font-size: 4em;
      .icon1 {
        padding-right: 1em;
      }
      .icon2 {
        padding-left: 1em;
      }
    }

    .back {
      position: relative;
      padding: 0;
      margin: 0;
      width: 100%;
      top: 5rem;
      height: 45rem;
      z-index: 5;
    }

    .inner {
      position: relative;
      display: flex;
      padding: 0;
      margin: 0;
      justify-content: center;
      bottom: 39rem;
      height: 30rem;
      width: 95%;
      left: 1.5em;

      .subScene {
        position: relative;
        width: 100%;
        height: 100%;
      }
    }
  }

  .s1, .s2 {
    position: relative;
    width: calc((100% - 60rem) / 2);
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .s1 {
    left: 0;
  }

  .s2 {
    right: 0;
  }

  .home {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    .scene {
      .inner {
        .first {
          width: 100%;
          height: 100%;
          background: blanchedalmond;
        }
        .second {
          background: white;
          .img {
            position: absolute;
            width: 20em;
            height: 24em;
            top: calc((30rem - 24em) / 2);
            left: calc((50% - 20em) / 2);
          }
          .info {
            background: blanchedalmond;
            position: absolute;
            font-size: 1em;
            height: 100%;
            width: 49%;
            right: 0;
            padding-left: 1em;
            padding-top: 3em;

            h1 {
              padding-bottom: 1em;
            }

            p {
              padding-left: 2em;
            }
          }
        }
      }
    }

    .s1, .s2 {
      .floating-one {
        animation-name: floating-one;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
      }

      .floating-two {
        animation-name: floating-two;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
      }

      @keyframes floating-one {
        0% {
          transform: translate(0, 0px);
        }
        50% {
          transform: translate(0, 5px);
        }
        100% {
          transform: translate(0, -0px);
        }
      }

      @keyframes floating-two {
        0% {
          transform: translate(0, 10px);
        }
        50% {
          transform: translate(0, 5px);
        }
        100% {
          transform: translate(0, 10px);
        }
      }

      .one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten {
        position: absolute;
        padding: 0;
        margin: 0;
        border: 0;
        width: 6rem;
        height: 6rem;

        img {
          padding: 0;
          margin: 0;
          width: 6rem;
          height: 6rem;
        }
      }

      .one {
        top: 4em;
        right: 8em;
      }

      .two {
        top: 12em;
        right: 1em;
      }

      .three {
        top: 20em;
        right: 8em;
      }

      .four {
        top: 28em;
        right: 1em;
      }

      .five {
        top: 36em;
        right: 8em;
      }

      .six {
        top: 30px;
        left: 1em;
      }

      .seven {
        top: 150px;
        left: 8em;
      }

      .eight {
        top: 280px;
        left: 1em;
      }

      .nine {
        top: 410px;
        left: 8em;
      }

      .ten {
        top: 640px;
        left: 1em;
      }
    }
  }

  .education {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;

    .scene {
      .inner {
        .first {
          background: white;
          img {
            position: absolute;
            top: 2em;
            left: 3em;
            width: 35em;
            height: 8em;
          }
          .info {
            position: absolute;
            color: #444444;
            top: 10em;
            left: 20em;
            border: solid 2px lightgrey;
            border-radius: 5px;
            padding: 1em;
          }
        }
        .second {
          .course {
            padding: 1em;
            h2 {
              color: #111111;
            }
            p {
              color: #222222;
            }
            ul {
              color: #333333;
            }
          }
          .left {
            position: absolute;
            height: 100%;
            width: 50%;
            background: blanchedalmond;
          }
          .right {
            position: absolute;
            height: 100%;
            width: 50%;
            right: 0;
            background: white;
            .three{
              margin-top: 7em;
            }
          }
        }
      }
    }
  }
}
