html.full,
html.full body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.App {
  position: relative;
  .app-header{
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 40px;
    background-color: #000;
    .navbar {
      position: relative;
      align-items: center;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      right: 0;
      .logo {
        position: absolute;
        left: 10%;
        .img {
          width: 50%;
          height: 100%;
        }
      }
      .menu {
        position: absolute;
        right: 10%;
        margin-bottom: 10%;
        list-style-type: none;
        display: flex;
        li {
          position: relative;
          align-items: center;
          .each {
            font-size: 15px;
            display: block;
            color: white;
            text-decoration: none;
            padding-left: 10px;
            padding-bottom: 10px;
          }
        }
      }
    }
  }

  .home {
    background-image: url("./images/home1.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 800px;
    position: relative;
    overflow: hidden;

    .scene {
      display: flex;
      position: relative;
      top: 10px;
      width: 100%;
      height: 70%;
      justify-content: center;
      align-items: center;
      //background-color: aqua;
      .inner {
        position: absolute;
        top: 103px;
        width: 762px;
        height: 404px;
        background-color: pink;

        .firstScene {
          width: 100%;
          height: 100%;
        }
      }
    }

  }
}
