html.full,
html.full body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border-color: transparent;
  border-radius: 10px;
  font-size: 2em;
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;

  a {
    padding: 1em;
  }

  &:focus, &:active, &:hover {
    background-color: white;
  }
}


h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 0.8em;
}

.App {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  width: 100%;

  .app-header{
    position: fixed;
    display: flex;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    min-height: 2.5rem;
    background-color: #222021;

    .logo {
      position: relative;
      left: 15rem;
      .img {
        width: 5rem;
        height: 2.5rem;
      }
    }

    .menu-wrap {
      position: relative;
      left: 35rem;
      padding: 0;
      margin: 0;
      .menu {
        list-style-type: none;
        display: flex;

        li {
          font-size: 0.8rem;
          .each {
            color: white;
            font-weight: bold;
            padding-left: 5rem;

            &:hover {
              color: #e5e5e5;
            }
          }
        }
      }
    }
  }

  .scene {
    position: relative;
    width: 60em;
    height: 50em;

    .icons {
      position: relative;
      display: flex;
      justify-content: center;
      z-index: 100;
      bottom: 39rem;
      color: #555555;
      margin-top: 0.4em;
      font-size: 4em;

      .icon1 {
        margin-right: 1em;
        cursor: pointer;
      }
      .icon2 {
        margin-left: 1em;
        cursor: pointer;
      }
    }

    .back {
      position: relative;
      padding: 0;
      margin: 0;
      width: 100%;
      top: 5em;
      height: 45em;
      z-index: 5;
    }

    .inner {
      position: relative;
      display: flex;
      padding: 0;
      margin: 0;
      justify-content: center;
      bottom: 39rem;
      height: 30rem;
      width: 95%;
      left: 1.5em;

      .subScene {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 10;
      }
    }
  }

  .s1, .s2 {
    position: relative;
    width: calc((100% - 60rem) / 2);
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .s1 {
    left: 0;
  }

  .s2 {
    right: 0;
  }

  .home {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: scroll;
    display: flex;

    a:hover {
      font-weight: bold;
    }
    .scene {
      .inner {
        .first {
          width: 100%;
          height: 100%;
          background: #DEC4FC;
        }
        .second {
          background: white;
          .img {
            position: absolute;
            width: 20em;
            height: 24em;
            top: calc((30rem - 24em) / 2);
            left: calc((50% - 20em) / 2);
          }
          .info {
            position: absolute;
            background: #e7d3fd;
            font-size: 1em;
            height: 90%;
            width: 49%;
            right: 0;
            padding-left: 1em;
            padding-top: 3em;

            h1 {
              padding-bottom: 1em;
            }

            p {
              padding-left: 2em;
            }
          }
        }
      }
    }

    .s1, .s2 {
      color: #808588;
      .floating-one {
        animation-name: floating-one;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
      }

      .floating-two {
        animation-name: floating-two;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
      }

      @keyframes floating-one {
        0% {
          transform: translate(0, 0px);
        }
        50% {
          transform: translate(0, 5px);
        }
        100% {
          transform: translate(0, -0px);
        }
      }

      @keyframes floating-two {
        0% {
          transform: translate(0, 10px);
        }
        50% {
          transform: translate(0, 5px);
        }
        100% {
          transform: translate(0, 10px);
        }
      }

      .one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten {
        position: absolute;
        padding: 0;
        margin: 0;
        border: 0;
        width: 6rem;
        height: 6rem;

        img {
          padding: 0;
          margin: 0;
          width: 6rem;
          height: 6rem;
        }
      }

      .one {
        top: 4em;
        right: 8em;
      }

      .two {
        top: 12em;
        right: 1em;
      }

      .three {
        top: 20em;
        right: 8em;
      }

      .four {
        top: 28em;
        right: 1em;
      }

      .five {
        top: 36em;
        right: 8em;
      }

      .six {
        top: 30px;
        left: 1em;
      }

      .seven {
        top: 150px;
        left: 8em;
      }

      .eight {
        top: 280px;
        left: 1em;
      }

      .nine {
        top: 410px;
        left: 8em;
      }

      .ten {
        top: 640px;
        left: 1em;
      }
    }
  }

  .education {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: scroll;
    display: flex;

    .scene {
      .inner {
        .first {
          background: #f8f3fe;
          img {
            position: absolute;
            top: 1em;
            left: 3em;
            width: 35em;
            height: 8em;
          }
          .info {
            position: absolute;
            color: #230C3B;
            top: 11em;
            left: 20em;
            border: solid 2px #230C3B;
            border-radius: 5px;
            padding: 1em;
          }
        }
        .second {
          .course {
            padding: 1em;
            h2 {
              color: #111111;
            }
            p {
              color: #222222;
            }
            ul {
              color: #333333;
            }
          }
          .left {
            position: absolute;
            height: 100%;
            width: 50%;
            background: #f8f3fe;
          }
          .right {
            position: absolute;
            height: 100%;
            width: 50%;
            right: 0;
            background: white;
            .three{
              margin-top: 7em;
            }
          }
        }
      }
    }
  }

  .project {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: scroll;
    display: flex;

    .scene {
      .inner {
        .first, .second, .third, .fourth, .fifth, .sixth, .seventh {
          background: #efe3fd;

          button {
            color: white;
            width: 7em;

            &.focus, &.active {
              color: black;
            }
          }
          .info {
            position: absolute;
            height: 100%;
            width: 50%;
            right: 0;

            &.one {
              left: 0;
              background: #c94aff;
            }

            &.two {
              padding-left: 1em;
            }

            .basic, .contents {
              padding-left: 1em;
            }

            .basic {
              text-align: center;

              p {
                color: #333333;
                font-size: 0.7em;
              }
            }

            .contents {
              width: 95%;
              p {
                padding-left: 2em;
                font-size: 0.86em;
              }

              ul {
                li {
                  font-size: 0.4em;
                }
              }

              button {
                position: relative;
                left: 3.5em;
              }
            }
          }
          .examples {
            position: absolute;
            height: 100%;
            width: 50%;
            padding: 2em;

            .video {
              position: relative;
              width: 90%;
              height: auto;
              z-index: 10;
              top: (100% - calc(100% * 9 / 16)) / 5.5;

              source {
                width: 100%;
                height: 100%;
              }
            }

            .button {
              position: relative;
              display: block;
              left: 3em;

              &.one {
                top: 2em;
              }
              &.two {
                top: 2.5em;
              }
            }

            .codes {
              display: flex;
              width: 5em;
              height: 10em;
              .code {
                &.one {
                  padding-right: 0.5em;
                }
                &.two {
                  padding-left: 0.5em;
                }
              }
            }
            .gif {
              padding-top: 1em;
              width: 25.5em;
              height: 15em;
            }
          }
        }

        .seventh {
          .info {
            li {
              font-size: 0.8em;
            }
          }
        }


      }
    }
  }

}
